.list-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.ls-search{
        display: flex;
        position: relative;
}

.host-info{
        display: flex;
        line-height: 2;
        justify-content: space-between;
        padding-top: 20px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
}

.content-container{
        display: flex;
}

.content-left{
        width: 30%;
        padding-top: 100px;
        transform: translateX(52%);
        padding-bottom: 150px;

}

.content-right{
        width:70%;
        transform: translate(40%,12%);
}

.profile-photo{
        border-radius:76px;
        width: 150px;
        height: 150px;
        align-items: center;
        justify-content: center;
        position: relative;
        /* transform: translateY(-%); */
}

.listing-info{
        line-height: 2;
}
