.SearchResult{
    display: flex;
    position: relative;
    margin:20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    opacity: 1;
    cursor: pointer;
    width: 100%;    
}
/*
.SearchResult:hover{
    opacity: 0.9;
} */

.search-img-block{
    display: flex;
    height: 95%;
    width: 650px;
    height: 435px;
    /* border-radius: 10px; */
}

.search-img-block:hover{
    /* transform: scale(1.02); */
    scale: 1.02;
}


.searchResult-info{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__heart{
    position: relative;
}

.searchResult-infotop{
    display: flex;
    flex-direction: column;
    max-width: 95%;

}

.searchResult__heart:hover{
    fill: red;
}

.searchResult-infotop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult-infotop > p {
    margin-top: 10px;
    font-size: 18px;
    color: gray;
    /* width: 60% */
}

a{
    display: flex;
}

/* .searchResult-bottom{
    display: flex;
    justify-content: space-between;
}

.searchResult-stars{
    display: flex;
    align-items: center;
} */

.search-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description{
    display: flex;
    overflow-wrap: anywhere;
    height: 100%;
}
