.range-picker{
    position: absolute;
    top:-4rem;
    width: 100vw;
    /* position: sticky; */
}

.range-picker > h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 560px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 329px;
}


.range-picker > input{
    width: 540px;
    padding: 20px;
    position: absolute;
    left:0;
    height:30px;
    top:388px;
    border: none;
    outline-width: 0;
}


.range-picker > button{
    font-size: larger;
    position: absolute;
    left: 0;
    top: 457px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color:white;
    width:579px;
    border:none;
    height:40px;
    text-align: center;
    text-transform: translateY(-10%);

}


.range-picker > button:hover{
    background-color: rgb(32, 32, 255);
}


.price-calculator{
    position: absolute;
    transform: translateY(190%);
    display: flex;
    justify-content: space-between;
    width:579px;
    color: rgb(83, 83, 83);
}

.warning{
    color: rgb(83, 83, 83);
}

.price-sums{
    color: rgb(83, 83, 83);
    /* transform: translate(-20%,-100%); */

    width: 39%;
    display: flex;
    justify-content: space-around;
}
