
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:white;
    width: 100%;
    z-index: 1;
}

#modal{
    z-index: 2;
}

.header-center{
    display: flex;
    flex: 1 ;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border:1px solid lightgray;
    border-radius: 999px;
}

.header-center > input{
    width: 260px;
    border: none;
    outline-width: 0;
}

.header-text:hover{
    cursor: pointer;
}


.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 20px;
}

.link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 6px;
    background-color: white;
    position: relative;
}


.dropdown{
    pointer-events: auto;
}

.dropdown-menu{
    transform: translateX(-55%);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80px;
    top: calc(100% + .30rem);
    background-color: white;
    /* padding: .75rem; */
    /* border-radius: .25rem; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 190px;
    opacity: 0;
    transition: opacity;
}

.dropdown > .link:focus + .dropdown-menu{
    transform: translateX(-55%);
    opacity: 1;
    pointer-events:inherit;
    /* width: 100px; */
    /* top:65px */
}





.header-icon{
    object-fit: contain;
    height: 55px;
    margin-left: 15px;
}

.magnifying-glass{
    height:20px;
    width: 20px;
}

.header-globe{
    padding: 10px;
}

.header-globe:hover{
    background-color: lightgray;
    border-radius: 999px;
    transition: 0.8s;
}

.link:hover{
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
}

.link{
    border: none;
    background-color: white;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    /* background-color:rgb(246, 246, 246); */
}


.search-bar{
    border: none;
    outline-width: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.search-bar-button{
    display: none;
}
