.card{
    padding-left: 0px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 720px;
    height: 480px;
}

.card:hover{
    transform: scale(1.03)
}

.card-info{
    margin-top: -9px;
    padding: 10px;
    padding-top: 20px;
    border: 1;
    border-radius: 10px;
    font-weight: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.card > img{
    object-fit: fill;
    min-width: 300px;
    min-height: 200px;
    width: 100%;

}

.card > .card-info{
    font-size: 20px;
}
