.container{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    border-radius: 12px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.container .title{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    padding-bottom: 10px;
}

.signup-user-details{
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 1.5 - 10px);
    justify-content: space-between;
}

.signup-user-details input{
    height: 25px;
    width:100%
}

.signup-user-details .input-box{
    border-radius: 5px;
    outline:none;
}

.signup-button{
    border-radius: 20px;
}

.switch-link:hover{
    cursor: pointer;
}
