
.container{
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    background:rgb(255, 255, 255);
    border-radius: 12px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.container .title{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    padding-bottom: 25px;
}

.container .user-details{
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 1.5 - 10px);
    justify-content: space-between;
}

.container .user-details input{
    height: 45px;
    width:100%
}

.user-details .input-box{
    border-radius: 5px;
    outline:none;
}

.new-user-link{
    padding-top: 20px;

}


.new-user-link span{
    color: rgb(7, 7, 184);
    font-weight: bold;
}


.login-buttons{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.login-button{
    margin-bottom: 20px;
    border-radius: 20px;
}

.demo-button{
    background-color: #4CAF50;
    border-radius: 20px;
    color: black;;
}

.switch-link:hover{
    cursor: pointer;
}
